#!/bin/bash
if [[ $EUID -ne 0 ]]; then
  echo "Please run steamcmd as root/with sudo"
  echo "This is needed because a user switch to the steam system user will be performed"
  exit 1
fi

# Start SteamCMD as user steam
TARGET_USER="{{ steamUserName }}"
STEAM_PATH="{{ steamDirectory }}/steamcmd.sh"

exec sudo -u "$TARGET_USER" -- "$STEAM_PATH" "$@"
